@import "../../../scss/index.scss";

.preview-movie {
  height: 400px;
  width: 90%;
  padding-bottom: 60px;
  // padding-top: 10px;
  // padding-left: 10px;
  // padding-right: 10px;

  background-color: white;
  // box-shadow: 4px 4px 10px 0px rgba(90, 90, 90, 0.75);
  .active {
    color: #783cf2;
    margin-top: 10px;
    margin-left: 10px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }

  &_image {
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
  }

  &_addToFavorites {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: end;
    width: 90%;
    margin-top: 20px;

    &_icon {
      font-size: 2em !important;
      color: #df51ff;

      &:hover {
        color: #783cf2;
      }

      &:hover .tooltiptext {
        visibility: visible;
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }

  &_tablet {
    height: 400px;
    width: 90%;
    padding-bottom: 40px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;

    background-color: white;
    box-shadow: 4px 4px 10px 0px rgba(90, 90, 90, 0.75);

    .active {
      color: #783cf2;
      margin-top: 10px;
    }
  }

  &_movil {
    height: 400px;
    width: 95%;

    padding-bottom: 30px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 7px 0px rgba(90, 90, 90, 0.75);

    .active {
      color: #783cf2;
      margin-top: 5px;
    }
  }
}

.tooltiptext {
  position: absolute;
  font-size: small;
  visibility: hidden;
  width: 100px;
  background-color: #071108;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  text-align: center;
  border-radius: 6px;
  padding: 3px 0;
  z-index: 1;
  // margin-top: -30px;
  // margin-left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}
