@import "../../scss/index.scss";

.movies {
  // margin-top: 30px;
  // padding-left: 25px;
  // padding-right: 10px;

  // .ui.grid {
  //   margin: 0 !important;
  // }
  // .grid-movies {
  //   // margin-left: 10px !important;
  //   width: 100%;
  // }

  h1,
  h2 {
    text-align: center;
  }

  .movie-movil {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 !important;
  }

  .movie-margin {
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0 !important;
  }
}
