@import "../../index.scss";

.feed-movie-title-container {
  position: absolute;
  z-index: 2;
  padding: 20px;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.feed {
  padding-top: 50px;
  height: calc(100vh - 48px);
  overflow-y: scroll;
  color: aliceblue;

  &__noposts {
    text-align: center;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  &__item {
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    // cursor: pointer;
  }

  &__box {
    border: 1px solid $border-grey;
    background-color: white;
    position: relative;

    &-user {
      background-color: $background-light;
      padding: 15px !important;
      color: $font-dark;
      text-align: center;

      img {
        margin-right: 15px !important;
      }

      span {
        font-weight: bold;
      }
    }

    &-text {
      padding: 5px !important;

      span {
        font-weight: bold;
      }
    }

    &-photo {
      height: 350px;
      width: 240px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;

      &:hover {
        // cursor: pointer;
        opacity: 0.9;
      }
    }

    &-actions {
      padding: 5px 5px;

      i {
        margin-right: 10px !important;
      }
    }

    &-form {
      > form {
        position: relative !important;
      }
    }
  }

  .tooltiptext {
    position: absolute;
    font-size: small;
    visibility: hidden;
    width: 100px;
    background-color: #071108;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    z-index: 3;
    margin-top: -30px;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
