@import "../../../../scss/index.scss";

.addToFavorite {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0 10px;

  i {
    &:hover {
      cursor: pointer;
    }
  }

  .addToFavorite-inactive {
    i {
      font-size: 20px !important;

      &:hover {
        cursor: default !important;
      }
    }
  }

  .active {
    color: #783cf2;
  }

  .inactive {
    color: gray;
  }

  &__addToFavorites {
    cursor: pointer;
    position: absolute;
    z-index: 3;
    display: flex;
    justify-content: end;
    width: 90%;
    margin-top: 20px;

    &_icon {
      font-size: 2em !important;
      color: #783cf2;

      &:hover {
        color: #783cf2;
      }

      &:hover .tooltiptext {
        visibility: visible;
        opacity: 0.7;
        cursor: pointer;
      }
    }
  }
  .tooltiptext {
    position: absolute;
    font-size: small;
    visibility: hidden;
    width: 100px;
    background-color: #071108;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    z-index: 3;
    margin-top: -30px;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
  }
}
