@import "../../../scss//index.scss";

.list-movie {
  width: 100% !important;

  h1,
  h2 {
    text-align: center;
  }

  &__header {
    background-image: none !important;
    z-index: 1;
  }

  &__feed {
    margin: 0;
    padding: 0;
    height: 250px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: block !important;
    }
  }

  &__movie {
    cursor: pointer;
    background-color: #1a364b !important;
    border-radius: 20px;
    margin-bottom: 10px !important;

    .deleteIcon {
      &:hover {
        color: lightCoral !important;
      }
    }
  }

  &__movie-title {
    color: aliceblue !important;
  }

  &__movie-date {
    color: rgba($color: aliceblue, $alpha: 0.7) !important;
  }
}
