@import "../../scss/index.scss";

.header {
  position: relative;
  // border-bottom: 1px solid #dbdbdb;
  padding: 12px 0;
  background-image: radial-gradient(
    circle at 96.2% 41.85%,
    #df51ff 0,
    #ad47ff 25%,
    #783cf2 50%,
    #3d30d3 75%,
    #0026b6 100%
  );
  // background-color: $background-light;
  z-index: 1;

  &_logo {
    display: flex !important;
    align-items: center;

    padding-left: 4px !important;
    padding-right: 0 !important;

    img {
      // height: 25px;
      padding-left: 5px;
    }

    .imagenLogo {
      height: 30px;
    }
  }

  &_search {
    padding-left: 4px !important;
    padding-right: 4px !important;
  }

  &_right {
    padding-left: 4px !important;
    font-size: 15px !important;

    i.icon,
    .ui.image {
      margin: 0 0 0 10px !important;
    }
  }
}
