@import "../../../scss/index.scss";

.search-movies {
  .ui.left.icon.input {
    width: 100%;
  }

  .results .result .image {
    height: auto !important;
  }

  .results {
    max-height: 60vh;
    overflow: scroll;
    z-index: 10;
    position: absolute;
  }

  &_item {
    display: flex;
    align-items: center;

    .ui.image {
      width: 35px !important;
      // height: 50px !important;
      border-radius: 50%;
      margin-right: 20px;
    }

    p {
      margin: 0;
      color: $font-dark;

      &:first-of-type {
        font-weight: bold;
      }
      &:last-of-type {
        color: $font-grey;
      }
    }
  }
}
