canvas {
  background-color: #1e0322;
}

.explore {
  height: calc(100vh - 48px);
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  &__left {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &__right {
  }
}

.explore-movil {
  margin: 10px !important;

  &_top {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  .users-not-followeds {
    margin-top: 10px;
    display: block;
    overflow-x: scroll;

    &__user {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
